body {
  font-family: sans-serif;
  padding: 20px;
}

button {
	margin: 5px;
    padding: 6px 12px;
    border: 1px solid #888;
    background: #f0f0f0;
    cursor: pointer;
}

button.selected {
    background: #4f46e5;   /* bleu */
    color: white;
    border-color: #4f46e5;
}

#tags {
		column-count: 3;
		column-gap: 30px;
}

ul.tag-tree {
	  list-style: none;
	  padding-left: 16px;
	  break-inside: avoid;
}

li.tag-node {
	  margin-bottom: 4px;
}

.toggle {
	cursor: pointer;
	font-weight: bold;
	margin-right: 4px;
}

.tag {
	cursor: pointer;
	padding: 2px 6px;
	border-radius: 4px;
}

.tag.selected {
	background: #4f46e5;
	color: white;
}

ul.collapsed {
	display: none;
}
